@font-face {
  font-family: Lora;
  font-style: normal;
  src: url(Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  font-style: italic;
  src: url(Lora-Italic-VariableFont_wght.ttf);
}

body {
  font-family: Lora, Georgia, 'Times New Roman', Times, serif;
  line-height: 140%;
  font-weight: 466;
  font-size: 15px;
}

b, strong {
  font-weight: 660;
  letter-spacing: 0.01em;
}